[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"

[packages]
opencv-python = "*"
numpy = "*"
gym = {extras = ["atari"],version = "*"}
tensorflow = "~=2.1"

[requires]
python_version = "3.7"

[scripts]
main = "python -m atarieyes"
tensorboard = "tensorboard --logdir logs/"
